In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_movie_data_updated.csv')

In [3]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime,Mafia",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime,Mafia",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [4]:
movies.tail()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
10250,191152,Kiracı,"Comedy, Drama",tr,Kerim lives with his family in a rent house fo...,1.342,1987-09-30,6.4,29
10251,220004,Erkek Güzeli Sefil Bilo,"Comedy, Drama",tr,"Bilo falls in love with Cano, the daughter of ...",1.271,1979-09-07,6.4,27
10252,52188,Bekleme Odası,Drama,tr,Zeki Demirkubuz plays the lead character Ahmet...,1.252,2004-02-27,6.2,26
10253,334388,Baskın,Horror,tr,Police summoned to an apartment building make ...,1.140,2013-08-26,6.7,30
10254,272045,Düğün,Drama,tr,A family migrates to Istanbul from the rural p...,0.924,1973-12-01,6.7,26

In [5]:
movies.describe()

                 id    popularity  vote_average    vote_count
count  1.025500e+04  10255.000000  10255.000000  10255.000000
mean   1.640202e+05     33.995759      6.631735   1511.145392
std    2.146794e+05    209.091239      0.764290   2625.324682
min    5.000000e+00      0.600000      4.600000     25.000000
25%    1.021250e+04      8.918500      6.100000    304.000000
50%    3.406900e+04     13.379000      6.600000    564.000000
75%    3.140190e+05     25.137000      7.200000   1423.000000
max    1.248795e+06  10436.917000      8.700000  31917.000000

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10255 entries, 0 to 10254
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10255 non-null  int64
 1   title              10255 non-null  object
 2   genre              10249 non-null  object
 3   original_language  10255 non-null  object
 4   overview           10248 non-null  object
 5   popularity         10255 non-null  float64
 6   release_date       10255 non-null  object
 7   vote_average       10255 non-null  float64
 8   vote_count         10255 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 721.2+ KB

In [7]:
movies.isnull().sum()

id                   0
title                0
genre                6
original_language    0
overview             7
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [8]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [10]:
movies.head()

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime,Mafia"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime,Mafia"

In [11]:
movies['tags'] = movies['overview']+movies['genre']

In [12]:
movies.head(3)

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime,Mafia","Spanning the years 1945 to 1955, a chronicle o..."

In [13]:
new_data = movies.drop(columns=['overview', 'genre'])

In [14]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
10250,191152,Kiracı,Kerim lives with his family in a rent house fo...
10251,220004,Erkek Güzeli Sefil Bilo,"Bilo falls in love with Cano, the daughter of ..."
10252,52188,Bekleme Odası,Zeki Demirkubuz plays the lead character Ahmet...
10253,334388,Baskın,Police summoned to an apartment building make ...
10254,272045,Düğün,A family migrates to Istanbul from the rural p...

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tfidf_vectorizer = TfidfVectorizer(max_features = 10255, stop_words='english')

In [17]:
vector = tfidf_vectorizer.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [18]:
vector.shape

(10255, 10255)

In [19]:
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity = cosine_similarity(vector)

In [22]:
similarity

array([[1.        , 0.01615101, 0.02698707, ..., 0.02034405, 0.        ,
        0.00292698],
       [0.01615101, 1.        , 0.01169896, ..., 0.01502638, 0.        ,
        0.02040274],
       [0.02698707, 0.01169896, 1.        , ..., 0.0341912 , 0.        ,
        0.03808038],
       ...,
       [0.02034405, 0.01502638, 0.0341912 , ..., 1.        , 0.03924327,
        0.0306213 ],
       [0.        , 0.        , 0.        , ..., 0.03924327, 1.        ,
        0.        ],
       [0.00292698, 0.02040274, 0.03808038, ..., 0.0306213 , 0.        ,
        1.        ]])

In [23]:
new_data[new_data['title']=="Captain America"].index[0]

9993

In [24]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key= lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
The Godfather: Part III
Blood Ties
The Best of Youth

In [25]:
def recommand(movies):
    index = new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda vector:vector[1])
    for i in distance[1:6]:
        print(new_data.iloc[i[0]].title)

In [26]:
recommand("The Last Airbender")

Inkheart
Toc Toc
The Art of War
Zindagi Na Milegi Dobara
Pirates of the Caribbean: At World's End

In [27]:
import pickle

In [28]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [29]:
pickle.dump(similarity, open('similarity_list.pkl', 'wb'))

In [30]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
10250,191152,Kiracı,Kerim lives with his family in a rent house fo...
10251,220004,Erkek Güzeli Sefil Bilo,"Bilo falls in love with Cano, the daughter of ..."
10252,52188,Bekleme Odası,Zeki Demirkubuz plays the lead character Ahmet...
10253,334388,Baskın,Police summoned to an apartment building make ...
10254,272045,Düğün,A family migrates to Istanbul from the rural p...

In [31]:
pickle.load(open('similarity_list.pkl', 'rb'))

array([[1.        , 0.01615101, 0.02698707, ..., 0.02034405, 0.        ,
        0.00292698],
       [0.01615101, 1.        , 0.01169896, ..., 0.01502638, 0.        ,
        0.02040274],
       [0.02698707, 0.01169896, 1.        , ..., 0.0341912 , 0.        ,
        0.03808038],
       ...,
       [0.02034405, 0.01502638, 0.0341912 , ..., 1.        , 0.03924327,
        0.0306213 ],
       [0.        , 0.        , 0.        , ..., 0.03924327, 1.        ,
        0.        ],
       [0.00292698, 0.02040274, 0.03808038, ..., 0.0306213 , 0.        ,
        1.        ]])

In [32]:
new_data.to_csv('veri.csv', index=False)